@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>
            Hello Dear and Gentle World
        </h1>
        <h2>
            This is a sample description
        </h2>
    </div>

</div>
